/* RESET CSS */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* css */

body{
    
    background-color: #8B939C;
    height: 100vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-image: url("../IMG/Carro.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;

}

h1{
    font-size:60px;
    font-family: sans-serif;
    font-weight: 60px;
    color: gray;
    text-align: center;
    margin-top: 400px;

}

h2{
    font-size: 48px;
    font-family: sans-serif;
    font-weight: 60px;
    gap: 10px;
    display: flex;
    justify-content: center;
}

.dev{
        background-color: transparent;
        color: red;
        padding: 12px 20px;
        transition: 0.5s;
        border: solid #fff 4px;
        border-radius: 100px;
}

.dev:hover{
    background-color: transparent;
    padding: 12px 100px;

}
.front{
  background-color: transparent;
  transition: 0.5s;
  padding: 12px 20px;
  border: solid #fff 4px;
  border-radius: 100px;
  color: red;
}

.front:hover{
    background-color: transparent;
    padding: 12px 100px;
    border: solid #fff 4x;
    
}

h1:hover{
    color: gold;
    transition: 1s;
}
